/pp_lab3/nbproject/private/
/pod_lab3/nbproject/private/
/po_lab3/nbproject/private/
/pp_lab4/nbproject/private/
/pp_lab4/build/
/pp_lab4/dist/
/ChartAdvancedScatter/nbproject/private/
/ChartAdvancedScatter/build/
/ChartAdvancedScatter/dist/
/pp_lab4_zad2/nbproject/private/
/pp_lab4_zad2/build/
/pp_lab4_zad2/dist/
/pp_lab5/target/